*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
 }

 body{
   background-image: url(carta1111/fondo.jpg);
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;

 }
 
.nav{
   font-family: 'Italiana', sans-serif;
   background-color: black;
   font-size: large;
}

.nav a{
   text-align: center;
}

.container{
    text-align: center;
    color: white;
    margin-top: 2rem;
 }
 
 .containerLogo{
    display: flex;
    justify-content: center;
    
 }
 
 .logo{
    width: 300px;
    height: 300px;
 }

 .neon{
    font-size: 60px;
    text-shadow: 0 0 5px #ffc107, 0 0 15px #ffc107, 0 0 30px #ffc107, 0 0 50px #ffc107;
    margin-bottom: 2rem;
    font-family: 'Neonderthaw', cursive;
 }
 .container2{
    margin-top: 5rem;
    text-align: center;
    color: white;
 }
 
 
 .neon2{
    font-size: 60px;
    text-shadow: 0 0 5px #ffc107, 0 0 15px #ffc107, 0 0 30px #ffc107, 0 0 50px #ffc107;
    font-family: 'Neonderthaw', cursive;
 }


 .titulo{
    text-align: center;
    font-family: 'Italiana', sans-serif;
    color: #ffc107;
    background: rgba(0, 0, 0, .55);
    border-radius: 60px ;
    border-color: #ffc107;
    margin: 8rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
 }
 
 .elementoTitulo{
    text-align: center;
    font-size: 60px;
 }

 .elementoTitulo2{
   text-align: center;
   font-size: 45px;
}
 
 .listas{
    text-align: center;
    font-family: 'Italiana', sans-serif;
    color: #ffc107;
    margin-top: 5rem;
    background: rgba(0, 0, 0, .55);
    border-radius: 30px ;
    border-color: #ffc107;
    font-size: 20px;
    font-style: italic;
    padding: 1rem 1rem 1rem 1rem;
    margin: 3rem 1rem 1rem 1rem;
 }
 
 .elementoLista{
    margin-bottom: 2rem;
 }


.logo2{
   width: 300px;
   height: 300px;
}

.logoNav{
   width: 50px;
   height: 50px;
}

.tituloBebida{
   text-align: center;
   font-family: 'Italiana', sans-serif;
   color: #ffc107;
   background: rgba(0, 0, 0, .80);
   border-radius: 60px;
   border-color: #ffc107;
   margin: 3rem 5rem 1rem 5rem;
   padding: 1rem 1rem 1rem 1rem;
}

.listasBebidas {
    font-family: 'Italiana', sans-serif;
    color: #ffc107;
    background: rgba(0, 0, 0, .55);
    border-radius: 30px;
    font-size: 20px;
    font-style: italic;
    margin: 1rem 1rem 1rem 1rem;
   }

.elementoListaBebidas{
   color: #ffc107;
}

.tituloBebidas{
   padding-top: 1rem;
   color: #ffc107;
}

.listaDaikiri{
   margin-top: -1rem;
   font-size: 15px;
}

.elementoLimonadas{
   color: #ffc107;
   font-size: 16px;
}

